@import './components.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-tl from-primary-lightest to-secondary-light via-accent-lightest dark:from-accent-darkest dark:to-primary-darkest;
  }

  .bg-default {
    @apply bg-primary-lightest dark:bg-accent-darkest;
  }

  .primary-hover-border {
    @apply border-primary dark:border-primary/80 hover:border-primary-dark dark:hover:border-primary group-hover:border-primary-dark dark:group-hover:border-primary transition-colors duration-200;
  }

  .secondary-hover-border {
    @apply border-secondary-darker dark:border-secondary-darker hover:border-secondary-darkest dark:hover:border-secondary-dark transition-colors duration-200;
  }

  .primary-hover-text {
    @apply text-primary dark:text-primary/80 hover:text-primary-dark dark:hover:text-primary group-hover:text-primary-dark dark:group-hover:text-primary transition-colors duration-200;
  }

  .secondary-hover-text {
    @apply text-secondary-darker dark:text-secondary-darker hover:text-secondary-darkest dark:hover:text-secondary-dark transition-colors duration-200;
  }

  .primary-hover-bg {
    @apply bg-primary dark:bg-primary/80 hover:bg-primary-dark dark:hover:bg-primary transition-colors duration-200;
  }

  .secondary-hover-bg {
    @apply bg-secondary-darker dark:bg-secondary-darker hover:bg-secondary-darkest dark:hover:bg-secondary-dark transition-colors duration-200;
  }
}

.font-icon {
  &.filled {
    font-variation-settings:
      'FILL' 1
  }
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-weight: 100 900;
}

@font-face {
  font-family: "Merienda";
  src: url(./fonts/Merienda-VariableFont_wght.ttf);
}

html {
  font-size: 18px;
}

body {
  @apply min-h-[100dvh] text-accent-darkest dark:text-primary-lightest font-sans antialiased leading-6 bg-gradient transition-colors duration-250;


  text-wrap: balance;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-bold;
  }

  h1,
  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply text-accent dark:text-accent-light hover:text-accent-dark dark:hover:text-accent-lighter transition-colors duration-250;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-primary-darker rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/60;
}